@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
::selection {
    color: black;
    background: white;
}
nav{
    position: fixed;
    background: black;
    width: 100%;
    padding: 10px 0px;
    z-index: 12;
}

nav .menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.menu .logo a{
    text-decoration: none;
    color: purple;
    font-size: 35px;
    font-weight: 600;
}
.menu ul {
    display: inline-flex;
}
.menu ul li{
    list-style: none;
    margin-left: 7px;
}

.menu ul li:first-child{
    margin-left: 0px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    color: red;
    background: white;
}
.img{
    background: url('../src/foto\ imagen.jpg') no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative
}
.center {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    padding: 0 20px;
    text-align: center;
}
.center .title{
    color: purple;
    font-size: 55px;
    font-weight: 600;
}

.center .sub-title{
    color: purple;
    font-size: 52px;
    font-weight: 600;
}
button {
    color:black;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
    background-color: cyan;
  }
  button:hover {
    color: cyan;
    background: red;
}